body {
    background-color: #707070;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*-------------------------------PREHEADER-------------------------------------------*/

.preheader {
    background-color: #000000;
    color: #ffffff;

}

.flat-information {
	margin: 0 0;
	padding: 0;	
}

.flat-information > li {
	display: inline-block;
	position: relative;
	margin-right: 25px;
}

.flat-information > li:before {
	position: absolute;
	left: 0;
	top: 10px;
	font-family: FontAwesome;
	content: "\f095";
	color: #00ff00;
}

.flat-information > li.email:before {
	content: "\f0e0";
}

.flat-information > li > a {
	display: inline-block;	
	padding: 13px 0 11px 20px;
	color: #c2c2c2;	
	font-size: 12px;	
	font-weight: 400;
}

.flat-information > li > a:hover {
    color: #00ff00;
    text-decoration: none;	
}

.social-links {
	padding: 0;
	margin: 0;
	text-align: right;
}

.social-links a {
	display: inline-block;
	padding: 0 7px;
	line-height: 50px;
	font-size: 14px;
	color: #c2c2c2;
}

.social-links a:hover {
    color: #00ff00;
}

/*-------------------------------NAV BAR-------------------------------------------*/

.nav-wrap {
    background-color: #333;
}

#logo { 
    width: 100%;
    max-width: 200px;
    height: auto;
    /* padding-left: 45px; */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

/* Add an active class to highlight the current page */
 .active-nav {
        color: #ffff00;
        font-weight: bold;
   }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 42px 18px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #00ff00;
  }
  

  .topnav-item {
    color: #f2f2f2; 
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 770px) {
    .topnav a:not(:first-child) {display: none;} 
    .topnav a.icon {
      float: right;
      display: block;
      color: #ffff00;
      padding: 42px 18px;
    }
    .topnav a {
        padding: 20px 18px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 770px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



/*-------------------------------JUMBOTRON-------------------------------------------*/

.jumbotron {
    background-image: url("../images/cover-photo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 350px;
}

.quote {
    font-weight: bold;
    font-size: 1.50rem;
    text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

/*-------------------------------BODY --------------------------*/

.body-container {
    padding: 16px;
    margin-bottom: 16px;
}

.body-container h3 {
    color: #fff;
}

.text-block {
   text-align: center; 
}


/*-------------------------------SUBSCRIBE-------------------------------------------*/

.service-request {
    background-color: #ffff00;
    padding: 24px;
}

.subscribe{
    padding-top: 16px;
    width: 100%;
}

.subscribe button {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
}



/*-------------------------------FOOTER-------------------------------------------*/

.footer {
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* height: 60px; Set the fixed height of the footer here */
    /* line-height: 60px;  Vertically center the text there */
    background-color: #000000;
    padding: 32px;
}

.footer ul {
    list-style-type: none;
}

.footer-title {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 4px;
}

.footer-title::after { 
    position: absolute;
	left: 15px;
	top: 30px;
	width: 50px;
	height: 2px;
	background-color: #f7c20a;
	content: "";
}

.footer-text {
    padding-top: 10px;
}

.footer-text a {
    color: white;
    text-decoration: none;
}

.footer-text a:hover {
    color: #00ff00;
    text-decoration: none;
}

/*-------------SERVICES LOGO SLIDER----------------*/

.background-client {
    background-color: #fff;
}

.client-logo {
    height: 75px;
    padding: 16px;
} 

.service-carousel {
    margin-top: 16px;
}

